*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
.nav_main{
  list-style-type: none;
  margin: 0;
  padding-left:0px;
  overflow: hidden;
  background-color: #333;
}
a{
  float: left;
}
.nav_main a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* align-items: center; */
}
.act{
  border-bottom: 1px solid #565387;
  font-weight: bold;
}
.button-get-started{
  height: 5px;
  width: 6px;
  border-radius: 10px;
}
.abc{
  margin-top: 150px;
}
div.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down{
  0%{
    transform: translate(10px);
  }
  100%{
    transform: translate(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translate(10px);
  }
  100%{
    transform: translate(-10px);
  }
}
